@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --app-background: #ffffff;
  --app-navbar: #ffffff;
  --text-primary: #000000;

  --edit: #2563eb;
  --edit-foreground: #ffffff;

  --destructive: #ef4444;
  --destructive-foreground: #ffffff;

  --btn-bg: #000000;
}

.dark {
  --app-background: #191f25;
  --app-navbar: #252f3e;
  --text-primary: #ffffff;
}
